* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


header {
    margin-bottom: 20px;
    height: 150px;
    background-color: white
}




 /* <!-- nav scritte di selezione orizontali --> */
.nav {
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}


.nav ul, 
.nav li {
    display: inline-block;
    height: 60px;
}


.nav li{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 100px;
}


.nav li:first-child  {
    margin-left: 0;
}
 /* <!-- nav scritte di selezione orizontali --> */















                
 /* <!-- corpo prima img di Donna in Preghiera --> */
.hero {
    background-position: center;
    margin-bottom: 20px;
    height: 940px;
    position: relative;
    width: 100%;
    
}


.hero img {
    width: 100%;
    filter: brightness(70%);
}


.hero .content {
    position: absolute;
    left: 15px; bottom: 5px;
    color: white;
    margin-left: 60px;
}  


.hero h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.hero p {
    margin-top: 290px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}









img {
    border-radius: 20px
}




.leadership {
    background-color: white;
    height: 80px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.leadership-title {
    background-color: rgba(171,207,231,255);
}


.row {
    padding: 50px 0;
}





h4, p {
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
}



.imgsecondarie {
    width: 100%;
}



.containerimg {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}









.imgUno{
    background-image: url("..//img/img-1.jpg");
    filter: brightness(70%);
    border-radius: 20px
}   

.imgDue {
    background-image: url("../img/banner-2.jpg");
    filter: brightness(70%);
    border-radius: 20px
} 

.imgTre {
    background-image: url("../img/img-3.jpg");
    filter: brightness(70%);
    border-radius: 20px
}




.colleft, .colcenter, .colright  {
    float: left;
    background-color: white;
    border: 1px solid black;
}


.colleft, .colright {
    width: 20%;
    /* display: inline-block; */
}


.colcenter {
    width: calc(60% - 40px);
    margin: 0 20px;
}












/* footer */
.footer {
    height: 80px;
    margin: 10px 0 20px 0;
    text-align: center;
    line-height: 200px;
}  

.cuoreRosso {
    color: red;
}

