* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


header {
    margin-bottom: 20px;
    height: 150px;
    background-color: white
}

/* nav */
.nav {
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

li {
    display: inline-block;
    height: 60px;
    line-height : 1.5;
}









/* main */
.hero {
    /* background-color: rgba(225,214,122,255); */
    background-position: center;
    margin-bottom: 20px;
    height: 800px;
    position: relative;
    width: 900px;
}

.h1 {
    position: absolute;
}


.leadership {
    background-color: white;
    height: 80px;
    line-height: 30px;
}


.leadership-title {
    background-color: rgba(171,207,231,255);
    
}


.row {
    padding: 50px; 0;
}


.colleft, .colcenter, .colright  {
    float: left;
    background-color: white
    border: 1px;
}


.colleft, .colright {
    width: 20%;
    display: inline-block;
}


.colcenter {
    width: calc(60% - 40px);
    margin: 0 20px;
}












/* footer */



/* .footer {
    height: 80px;
    margin: 10px 0 20px 0;
    text-align: ;
}   */

